.nav-wheel__route-annular {
  fill: #41b883;
  stroke: #34495e;
  stroke-width: 0.7%;
}
.nav-wheel__route-annular:hover {
  transition-duration: 0.4s;
  fill: #34495e;
  stroke: #41b883;
}
.nav-wheel__route-label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  fill: black;
  text-anchor: middle;
  cursor: pointer;
}
.nav-wheel__route-label:hover {
  fill: purple;
  transition-duration: 0.2s;
  font-size: 28px;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
