/* Annulars */
.nav-wheel__route-annular {
  fill: url(#linear-gradient);
  stroke: #34495e;
  stroke-width: 0.5%;
}
.linear-gradient-stop-1 {
  stop-color: #41b883;
  stop-opacity: 1;
}
.linear-gradient-stop-2 {
  stop-color: #41b883;
  stop-opacity: 0.9;
}
.linear-gradient-stop-3 {
  stop-color: #41b883;
  stop-opacity: 0.4;
}
.nav-wheel__route-annular--visited {
  fill: url(#linear-gradient--visited);
}
.linear-gradient-stop-1--visited {
  stop-color: #1f7950;
  stop-opacity: 1;
}
.linear-gradient-stop-2--visited {
  stop-color: #1f7950;
  stop-opacity: 0.9;
}
.linear-gradient-stop-3--visited {
  stop-color: #1f7950;
  stop-opacity: 0.4;
}
.nav-wheel__route-annular--active {
  fill: url(#linear-gradient--active);
}
.linear-gradient-stop-1--active {
  stop-color: #1f7950;
  stop-opacity: 1;
}
.linear-gradient-stop-2--active {
  stop-color: #1f7950;
  stop-opacity: 0.9;
}
.linear-gradient-stop-3--active {
  stop-color: #1f7950;
  stop-opacity: 0.4;
}
.nav-wheel__route-annular:hover {
  transition-duration: 0.4s;
  fill: url(#linear-gradient--hover);
  stroke: #41b883;
}
.linear-gradient-stop-1--hover {
  stop-color: #34495e;
  stop-opacity: 1;
}
.linear-gradient-stop-2--hover {
  stop-color: #34495e;
  stop-opacity: 0.9;
}
.linear-gradient-stop-3--hover {
  stop-color: #34495e;
  stop-opacity: 0.4;
}

/* Labels */
.nav-wheel__route-label {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 22px;
  fill: black;
  text-anchor: middle;
  cursor: pointer;
}
.nav-wheel__route-label:hover {
  fill: purple;
  transition-duration: 0.2s;
  font-size: 28px;
}

/* Animations */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
  opacity: 1;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
